{% extends 'xznb_base.html' %}


{% load bootstrap3 %}



{% block content %}
	<br />
	<h1> 您已经参加过抽奖，奖品是：
		{%ifequal discount_class "2"%}50{%else%}5{%endifequal%}元西子女包通用代金券，请牢记优惠券编号：{{discount_number}} </h1>

	<div align="center"> 
	<form role="form" class="form-horizontal" method="post">
		{% csrf_token %}
		<input type="hidden" name="action" value="about">
		{% buttons submit='优惠券使用说明'  layout='horizontal' %}{% endbuttons %}
	</form>
	<form role="form" class="form-horizontal" method="post">
		{% csrf_token %}
		<input type="hidden" name="action" value="goStore">
		{% buttons submit='进入西子女包首页'  layout='horizontal' %}{% endbuttons %}
	</form>
	</br>
	<p>
		或者，扫描二维码进入店铺：
		<img src="/static/image/xznb_qr.png" align="center">
	</p>
	</div>
	


{% endblock %}


