{% extends 'xznb_base.html' %}


{% load bootstrap3 %}



{% block content %}
	<br />
	<h1> 优惠券查询: </h1>
	<div align="center"> 
	<form role="form" class="form-inline" method="post">
		{% csrf_token %}
		<input type="hidden" name="action" value="checkDiscount">
		<div class="form-group">
			<label class="sr-only" for="name">名称</label>
			<input type="text" class="form-control" name="name" 
			 placeholder="请输入优惠券">
		</div>
		{% buttons submit='查询'  layout='horizontal' %}{% endbuttons %}
		<input type="button" class="btn btn-inverse" name="back" value="返回" onclick="javascript:history.back(1)" />
	</form>
	</div>
	
{% endblock %}


