{% extends 'bootstrap3/bootstrap3.html' %}


{% load bootstrap3 %}

{% block bootstrap3_title %}
	史上最准情商测试
{% endblock %}

{% block bootstrap3_extra_head %}
	<link REL="SHORTCUT ICON" type="image/gif" href="/static/image/logo.jpg">
	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?d2c2042ec1858c61e0c1cac46f3a9903";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>

{% endblock %}

{% block bootstrap3_content %}
	<img width="500" height="500" style="position:absolute;top:-10000px;" src="http://fronttest.sinaapp.com/static/image/logo.jpg">
    <div class="container">
    	</br>
        {% bootstrap_messages %}

		{% block content %}
		{% endblock %}
    </div>

{% endblock %}


