{% extends 'eqtest/mybase.html' %}


{% load bootstrap3 %}



{% block content %}
	</br>
	</br>
	<form role="form" class="form-horizontal" method="post">
		{% csrf_token %}
		{{theString}} <br>
	</br>
		{% bootstrap_form  form  layout="horizontal" %}
		<input type="hidden" name="action" value="{{question_number}}">
		{% buttons submit='继续' reset='重置' layout='horizontal' %}{% endbuttons %}
	</form>
	
	{% if showAD %}
	<div class="textwidget">
		</br>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- phone -->
		<ins class="adsbygoogle"
		     style="display:inline-block;width:320px;height:50px"
		     data-ad-client="ca-pub-0250471959514433"
		     data-ad-slot="6249182437"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	{%endif%}
{% endblock %}
