{% extends 'demo/bootstrap.html' %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
<div class="container">
</br>
	本工具前端使用<strong>bootstrap</strong>，后端使用<strong>django</strong>实现。
	建议使用微信浏览器访问！
	</br>
	</br>
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
	    微信朋友圈测试系列
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="/eqtest">史上最准情商测试</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="/iqtest">史上最准智商测试</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="/agetest">史上最准心理年龄测试</a></li>
	    <li role="presentation" class="divider"></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://www.ysgh.net/archives/577">访问博客</a></li>
	  </ul>
	</div>
	</br>
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
	    微信朋友圈抽奖活动
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="/xznb">西子女包店</a></li>
	  </ul>
	</div>
	</br>
	<a href="/admin" class="btn btn-primary active" role="button">后台登陆</a>
</div>
{% endblock %}